name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.11.0]  # match your Node version

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Use Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # Step 4: Install client dependencies
      - name: Install client dependencies
        working-directory: ./client
        run: npm install

      # Step 6: Run client tests
      - name: Run client tests
        working-directory: ./client
        run: npm test -- --watchAll=false